ul.menuNgang {
    list-style: none;
    display: flex;
    text-decoration: none;
    background-color: rgb(0, 69, 126);
}
ul.menuNgang li {
    margin-right: 10px;
    padding-right: 10px ;
    border-right: 1px solid rgb(173, 173, 173);
    /* background-color: rgb(0, 69, 126); */

}
ul.menuNgang li a {
    text-decoration: none;
    font-family: Segoe UI;
    color: white;
}