* {
    margin: 0;
    padding: 0;
    /* background-color: gainsboro; */
}
body {
    background-color: gainsboro;
}
.Polaris-Card {
    width: 1373px;
    margin: 20px;
    border-radius: 3px;
    background-color: white;
}
.Polaris-Card__Header {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    font-family: Segoe UI;
    margin-bottom: 20px;
}
.Polaris-Card__Header h2 {
    width: 1253px;
    font-size: 15px;
}
.Polaris-Card__Header span {
    font-size: 13px;
}
.menutren ul {
    display: flex;
    list-style: none;
}
.menutren ul li {}
.menutren ul li a.active {
    border-color: rgb(0, 47, 255);
}
.menutren ul li a {
    text-decoration: none;
    font-family: Segoe UI;
    font-weight: bold;
    display: block;
    /* padding: 10px 10px; */
    padding-bottom: 10px;
    margin: 0px 10px;
    border-bottom: 3px solid transparent;
}
.menutren ul li a:hover {
    border-color: rgb(111, 112, 109);
}
.Polaris-Card__Section {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.Polaris-Card__Section a.khoinho {
    width: 220px;
    margin-bottom: 10px;
    text-decoration: none;
    color: blue;
    font-family: Segoe UI;
    font-size: 13px;
}
.Polaris-Card__Section a.khoinho img.trai {
    border-radius: 5px;
    margin-right: 5px;
}
.Polaris-Card__Section a.khoinho span.phai {
    font-size: 13px;
} 
