.products {
    display: flex;
    width: 1540px;
    margin: 100px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
._1sanpham {
    width: 493px;
    height: 713px;
    position: relative;
    top:0; left: 0;
    margin-bottom: 20px;

}
._1sanpham .layer1 {
}
._1sanpham .layer1 img{width: 100%;}
._1sanpham .layer2 {
    position: absolute;
    top: 0; left:0;
    opacity: 0;
    transition: 0.4s;
}
._1sanpham:hover .layer2 {
    opacity: 1;
}
._1sanpham .layer2 img{width: 100%;}
._1sanpham .layer3 {
    display: flex;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
._1sanpham .layer3 .trai{width: 50%;}
._1sanpham .layer3 .phai{width: 50%; text-align: right;}
._1sanpham .layer4 {
    position: absolute;
    bottom: 25px;
    left:0;
    opacity: 1;
    transition: 0.4s;

}
._1sanpham:hover .layer4 {
    opacity: 0;
}
._1sanpham .layer5 {
    position: absolute;
    bottom: 25px;
    left: 0;
    opacity: 0;
    transition: 0.4s;
}
._1sanpham:hover .layer5 {
    opacity: 1;
}